%button {
  width: 45%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: .9rem;
  line-height: 1.2;
  padding: 1.1em 2em;
  border: 1px solid $font-blue;
  color: $font-black;
  background-color: $font-white;
}

%button:hover {
  transform: scale(1.1);
  background-color: #999999;
}

%title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 1.2;
  color: $font-blue;
}

%content {
font-family: $font-family2;
font-style: normal;
font-weight: normal;
font-size: 1.1rem;
line-height: 1.7;
color: $font-blue;
background-color: #ffffff;
}