%button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: .9rem;
  line-height: 1.2;
  padding: 1.1em 2.4em;
  border: 1px solid $font-blue;
  color: $font-black;
}

%title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 1.2;
  color: $font-blue;
}

%content {
font-family: $font-family-p;
font-style: normal;
font-weight: normal;
font-size: 1.1rem;
line-height: 1.7;
color: $font-blue;
}