@import 'fonts';
@import 'extends';

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

.screen {
    width: 100%;
    background-image: url("../img/header-background-back.png"), url("../img/header-background.png");
    background-repeat: no-repeat;
}

/*  header */
.header {
    width: 73%;
    height: 100vh;
    margin: 0 auto;
    color: $font-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3em;

    &__lists {
        width: 40%;
        display: flex;
        justify-content: space-between;
        list-style: circle;

        &:hover, :active{
          list-style: disc;
          color: #ffffff;
        }

        &--link {
          text-decoration: none;
          color: $font-white;

          &:hover, :active{
              color: #444444;
          }
        }
    }
    &__socialMedia--icon--t {
        margin-left: 1em;
        margin-right: 1em;
    }

    &__socialMedia--icon {
    
        &--link:hover, :active {
          color: #444444;
        }
}

.projectsSection {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $font-blue;
}

.project {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

.divider  {
    border: 1px solid $font-blue;
}

.footer {
    width: 100%;
    color: $font-white;
    background-image: url("../img/header-background-back.png"), url("../img/header-background.png");
    display: flex;
    justify-content: space-evenly; 
}

