.project__content--button, .gallery__button, .contactInfo__userInput--submit {
  width: 45%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: .9rem;
  line-height: 1.2;
  padding: 1.1em 2em;
  border: 1px solid #2c4058;
  color: #000000;
  background-color: #ffffff;
}

.project__content--button:hover, .gallery__button:hover, .contactInfo__userInput--submit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #999999;
}

.titleContainer__box--title, .project__content--title, .news__title--title, .gallery__title--title, .contact__title--title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 1.2;
  color: #2c4058;
}

.project__content--content, .newsSlickSlider__card--content, .contactInfo__userInput, .contactInfo__userInput--name::-webkit-input-placeholder, .contactInfo__userInput--email::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #2c4058;
  background-color: #ffffff;
}

.project__content--content, .newsSlickSlider__card--content, .contactInfo__userInput, .contactInfo__userInput--name:-ms-input-placeholder, .contactInfo__userInput--email:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #2c4058;
  background-color: #ffffff;
}

.project__content--content, .newsSlickSlider__card--content, .contactInfo__userInput, .contactInfo__userInput--name::-ms-input-placeholder, .contactInfo__userInput--email::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #2c4058;
  background-color: #ffffff;
}

.project__content--content, .newsSlickSlider__card--content, .contactInfo__userInput, .contactInfo__userInput--name::placeholder, .contactInfo__userInput--email::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #2c4058;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.screen {
  width: 100%;
  height: 5641px;
  background-image: url("../img/header-background-back.png"), url("../img/header-background.png");
  background-repeat: no-repeat;
}

/*   header   */
.header {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav {
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__lists {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: circle;
}

.nav__lists:hover,
.nav__lists :active {
  list-style: disc;
  color: #ffffff;
}

.nav__lists--link {
  text-decoration: none;
  color: #ffffff;
}

.nav__lists--link:hover,
.nav__lists--link :active {
  color: #444444;
}

.nav__socialMedia--icon--t {
  margin-left: 1em;
  margin-right: 1em;
}

.nav__socialMedia--link:hover {
  background-color: #444444;
}

.sliderContainer {
  width: 100%;
  height: 230px;
  margin: 0 auto;
}

.slickSliderContainer {
  width: 100%;
  min-height: 140px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slickSlider__slide {
  width: 100%;
  max-height: 30hv;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.slickSlider__slide--title {
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 1.3;
  letter-spacing: 0.1em;
  margin: 0 auto;
}

.slickSlider__slide--subTitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.2;
  letter-spacing: 0.3em;
  margin: 0;
}

.slickSliderContainer .slick-dots {
  height: 210px;
  position: absolute;
  left: 1530px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-dots li.slick-active button:before, .slick-dots li button:before {
  color: #ffffff;
  opacity: .30;
  font-size: .8rem;
}

.slick-dots li.slick-active button {
  border: 3px solid #ffffff;
  border-radius: 100%;
}

.slick-dots li.slick-active button:before {
  color: transparent;
}

.scrollDownArrow:hover {
  background-color: #444444;
}

/*   projects   */
.projectsSection {
  width: 100%;
  min-height: 1604px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #2c4058;
}

.titleContainer {
  width: 100%;
  height: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleContainer__box {
  width: 21%;
  height: 37%;
}

.titleContainer__box--divider {
  border: 1px solid #2c4058;
}

.projectsContainer {
  width: 100%;
  height: 667px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.projects {
  width: 87%;
  height: 79%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects2 {
  position: absolute;
  right: 0px;
}

.project {
  width: 35%;
  height: 351px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 0;
}

.project__content {
  height: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__content--title {
  margin: 0;
}

.project__content--content {
  margin: 0;
}

.project__location {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-round;
      -ms-flex-pack: space-round;
          justify-content: space-round;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 0.94rem;
  line-height: 20px;
}

.project__location--icon {
  color: #000000;
  font-size: 1rem;
  margin-right: 1em;
}

/*   news   */
.news {
  width: 100%;
  height: 1035px;
  background-image: url("../img/news-background.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.news__title {
  width: 21%;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__title--divider {
  border: 1px solid #ffffff;
}

.news__title--title {
  color: white;
}

.newsSliders {
  width: 90%;
}

.newsSlickSlider {
  width: 60%;
  height: 627px;
  position: relative;
}

.newsSlickSlider__card {
  width: 77%;
  height: 514px;
  background-color: #ffffff;
  margin: 0 auto;
}

.newsSlickSlider__card--title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 0;
  color: #2c4058;
  padding: 0.9em;
}

.newsSlickSlider__card--content {
  padding: 0 1.2em;
}

.newsSlickSlider__card--author {
  padding-left: 1.2em;
}

.newsSliders .slick-slider ul {
  position: absolute;
  bottom: -25px;
}

/*   gallery   */
.gallerySection {
  width: 100%;
  height: 1001px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery {
  width: 73%;
  height: 721px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__title {
  width: 13%;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__title--divider {
  border: 1px solid #2c4058;
}

.gallery__gridContainer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-gap: 10px;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.gallery__gridContainer--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/3/3;
}

.gallery__gridContainer--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}

.gallery__gridContainer--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/2/5;
}

.gallery__gridContainer--4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
}

.gallery__gridContainer--5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2/4/3/5;
}

.gallery__button {
  width: 15%;
}

/*   contact   */
.contactSection {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#map {
  width: 100%;
  height: 700px;
}

.contact {
  width: 48%;
  height: 450px;
  position: absolute;
  bottom: -150px;
  margin: 0 auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__title {
  width: 45%;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__title--divider {
  border: 1px solid #2c4058;
}

.contactInfo {
  width: 100%;
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactInfo__montichello {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactInfo__montichello--content {
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactInfo__montichello--content--icon {
  color: #7E5AFF;
  font-size: 1rem;
  margin: 0;
  margin-right: 1em;
}

.contactInfo__userInput {
  width: 40%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactInfo__userInput--name {
  border: none;
  border-bottom: 1px solid #2c405827;
  padding: 1em 0;
  font-size: 1rem;
}

.contactInfo__userInput--email {
  border: none;
  border-bottom: 1px solid #2c405827;
  padding: 1em 0;
  font-size: 1rem;
}

.contactInfo__userInput--email::-webkit-input-placeholder {
  opacity: .5;
}

.contactInfo__userInput--email:-ms-input-placeholder {
  opacity: .5;
}

.contactInfo__userInput--email::-ms-input-placeholder {
  opacity: .5;
}

.contactInfo__userInput--email::placeholder {
  opacity: .5;
}

.contactInfo__userInput--submit {
  margin-top: 3em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*   footer   */
.footer {
  width: 100%;
  height: 549px;
  color: #ffffff;
  background-image: url("../img/footer-background.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyRight {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.7;
}

.footer__socialMedia--icon--t {
  margin-left: 1em;
  margin-right: 1em;
}

.footer__socialMedia--link:hover {
  background-color: #444444;
}
/*# sourceMappingURL=index.css.map */